// ----------------------------------------------
//                Grid Settings
//
//  This uses Susy as the layout system.
//  Full Susy docs can be found at:
//  http://susydocs.oddbird.net/
// ----------------------------------------------
//**                Can Edit

// Default
$susy: (
  columns: 12,
  gutters: 0,
  flow: ltr,
  global-box-sizing: border-box,
  container: $container-size, // change in vars
);

// Above $bp-medium breakpoint
$medium: (
  columns: 12,
  gutters: .8,
  sidebarfirst: 1, // in columns if not using custom layouts
  sidebarsecond: 4, // in columns if not using custom layouts
);

// Above $bp-large breakpoint
$large: (
  flow: ltr,
  columns: 12,
  gutters: 1,
  sidebarfirst: 3, // in columns if not using custom layouts
  sidebarsecond: 4, // in columns if not using custom layouts
);

#page {
  @include container;
  clear: both;
}
